window {
    background-color: rgba(40, 44, 52, 0.85);
}

/* Делаем фон самого окна-контейнера панели полностью прозрачным */
.side-panel-window {
    background-color: transparent;
}

.side-panel {
    background-color: rgba(40, 44, 52, 0.95);
}

label {
    color: #abb2bf;
    font-size: 14pt;
    font-weight: bold;
}

/* Стиль для кнопок воркспейсов */
button {
    background-color: transparent;
    border: none;
}

button.focused {
    background-color: #61afef;
    color: #282c34;
    border-radius: 5px;
}

/* Стиль для всплывающего окна громкости */
.volume-popup {
    background-color: rgba(40, 44, 52, 0.95);
    border-radius: 10px;
    border: 1px solid rgba(171, 178, 191, 0.1);
}

.volume-popup label {
    font-size: 11pt;
}

/* Стили для нового аудио-селектора */
popover.background {
    padding: 4px;
}

.flat-button {
    min-height: 0;
    min-width: 0;
    padding: 2px;
    background-image: none;
    border: none;
    box-shadow: none;
}
